/*------------- Reset Css -------------*/

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto, Helvetica, sans-serif;
  background: #f1f1f1;
}

/*------------- Navigation -------------*/

nav{
  position: fixed;
  z-index : 1000;
  width: 100%;
  height: 70px;
  background: #000;

}

nav ul{
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li{
  margin: 0 15px;
}

nav a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

/* ----------- Media Navigation */
@media screen and (max-width: 550px){
  nav li{
    margin: 0 8px;
  }

  nav a{
    font-size: 15px;
  }
}

/*------------- Acceuil Fondu -------------*/

.acceuil{
  height: 800px;
  display: flex;
  overflow: hidden;
}

.bloc-gauche-acceuil{
  position: relative;
  width: 40%;
  height: 100%;
  background: #000;
  box-shadow: 90px 0 100px 100px #000;
}

h1{
  color: #f1f1f1;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 90px;
  padding-top: 200px;
  padding-bottom: 20px;
  margin-left: 8vw;
  white-space: nowrap; /* Tu reste droit même si y a plus d'espace*/
   
}

.acceuil p{
  color: #f1f1f1;
  font-size: 30px;
  text-align: justify;
  width: 600px;
  margin-left: 8vw;
  white-space: nowrap;
  line-height: 1.3;
}

.cont-btn-home{
  display: flex;

}

.btn-acceuil{
  font-size: 18px;
  text-align: center;
  color: #f1f1f1;
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 40px;
  border: 1px solid #f1f1f1;
  width: 150px;
  cursor: pointer;
}

/*animation Bouton bloc Gauche*/
.btn-acceuil:hover{
  transition: all 0.2s ease-in-out;
  color: #000;
  background: #f1f1f1;
}

.b1{
  margin-left: 8vw;
}

.b2{
  margin-left: 10px;
}

.bloc-droit-acceuil{
  background-image: url(ressources/gym-accueil.jpg);
  width: 60%;
  height: 100%;
  background-position: 65% 10%;
}

/* Media Acceuil Fondu */



@media screen and (min-width: 360px) and (max-width:1170px){
  h1 {
    font-size: 40px;
  }
  .bloc-gauche-acceuil{
    width: 20%;
  }

  .bloc-droit-acceuil{
    width: 80%;
    background-position: 71% 7%;
  
  }

  .acceuil p{
    font-size: 20px;
    
  }

  .btn-acceuil{
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 358px){
  h1{
    font-size: 30px;
  }

  .acceuil p{
    font-size: 15px;
  }

  .acceuil{
    height: 400px;
  }

  .btn-acceuil{
    padding: 8px;
    font-size: 10px;
  }

  .bloc-droit-acceuil{
    box-shadow: 2px 0px 100px 100px #000;
    background-position-x: 73%;
    
  }
}


/*------------- Section Infos Carte -------------*/

.titre-section-info{
  color: #000;
  text-align: center;
  font-size: 65px;
  padding: 50px 20px 120px;
  font-family: Montserrat, Helvetica, sans-serif;
}

.section-info{
  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
  width: 100%;
  margin: 0 auto;
  background: #f1f1f1;
  position: relative;
}

.carte-info{
  width: 350px;
  height: auto;
  margin: 0 20px 80px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100;
}

.container-photo-info img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carte-info h2{
  color: #333;
  text-align: center;
  font-size: 25px;
  padding: 20px 5px;
}

.carte-info p{
  text-align: center;
  color: #333;
  font-size: 23px;
  padding: 0 5px 15px;
}

.deco-info{
  position: absolute;
  z-index: -1;
  top: -70px;
  left: -100px;
}

/* Media Section Info */

@media screen and (max-width: 1400px) {
  .deco-info{
    display: none;
  }
}

@media screen and (max-width: 1000px){
  .titre-section-info{
    font-size: 50px;
  }
}

@media screen and (max-width: 550px){
  .titre-section-info{
    font-size: 32px;
    padding: 40px 20px 40px;

  }
  .carte-info{
    margin: 0 10px 45px;
  }
}